# Python
__pycache__/
*.pyc
.venv/
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# RS3 outputs
data/
reports/
*.html
*.map.html

# Local env
.env
.cache/# sorties et artefacts
data/
*.parquet
*.csv
*.html
*.map.html
# environnements locaux
.venv/
.env
__pycache__/
*.py[cod]
